@model InstPublish.Models.Instruction

@{
    ViewBag.Title = "CreateInstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .myTag{
        background-color: aquamarine;
    }
    #groupDescription{
        margin-bottom:15px;
    }
    .sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        min-height: 260px;
    }
        .sortable li {
            margin: 10px 3px 10px 3px;
            padding: 1px;
            float: left;
            width: 220px;
            height: 250px;
            text-align: center;
        }


    </style>
@{string noImage = "http://www.amfmph.com/wp-content/plugins/social-media-builder//img/no-image.png";}
<h2>Редактор инструкций</h2>
<div class="instruction-Contaner">
    @using (Html.BeginForm("AddInstruction", "Home", FormMethod.Post)) /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <div class="form-group" id="groupDescription">
            @Html.LabelFor(m => m.Title, "Введите заголовок:", new { @class = "col-md-2 control-label" })
            <div class="col-md-3" id="groupDescription">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
      
            @Html.LabelFor(m => m.Category, "Выберите категорию: ", new { @class = "col-md-2 control-label" })
           
            <div class="col-md-5" id="groupDescription">
                <select class="form-control" id="Category" name="Category">
                    <option>Не выбрано</option>
                    <option>Электроника</option>
                    <option>Дети</option>
                    <option>Алкоголь</option>
                    <option>Наркотики</option>
                    <option>Ремонт</option>
                    <option>Химия</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LinkToYouTubeVideo, "Ссылка на YouTube:", new { @class = "col-md-2 control-label" })
            <div class="col-md-3" id="groupDescription">
                @Html.TextBoxFor(m => m.LinkToYouTubeVideo, new { @class = "form-control" })
            </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tags, "Введите теги:", new { @class = "col-md-2 control-label" })
                <div class="col-md-5" id="groupDescription">
                    @Html.TextBoxFor(m => m.Tags, new { @class = "form-control" })
                   
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-mine">
                <span class="fi-save">Сохранить</span>
            </button>
                <div style="width: 100%;">
                    <ul class="sortable">
                        @for (int i = 0; i < Model.Steps.Count; i++)
                        {                        
                                <li class="ui-state-default image-link"> 
                                @Html.HiddenFor(model => model.Steps[i].Image, new { @class = "Image" })
                                @Html.HiddenFor(model => model.Steps[i].Description, new { @class = "Description" })
                                @Html.HiddenFor(model => model.Steps[i].InstructionId, new { @class = "InstructionId" })
                                @Html.HiddenFor(model => model.Steps[i].NumberOfStep, new { @class = "NumberOfStep" })
                                @Html.HiddenFor(model => model.Steps[i].Title, new { @class = "Title"})          
                                    <a onclick="deleteStep(@Model.Steps[i].NumberOfStep)" class="btn btn-default btn-mine" style="position:absolute">
                                        <span class="glyphicon glyphicon-remove"> </span>
                                    </a>
                                <a href="/Home/Step?instructionId=@Model.Id&stepId=@Model.Steps.ToList()[i].Id">

                                <img   src="@Model.Steps[i].Image" style="width: 220px; height: 220px" /><span class="index"></span>.  @Model.Steps.ToList()[i].Title
                                </a>
                                    </li>   
                        }
                                <li class="ui-state-default buttonAddNewStep" draggable="false"><img src="http://img.freepik.com/free-icon/plus-positive-add-mathematical-symbol_318-59636.jpg?size=338&ext=jpg" style="width: 220px; height: 220px" onclick="createStep()" /> </li>
                    </ul>

                </div>
    }
            </div>
    
@section scripts{
    <script>
        var id = 100;
        document.getElementById("Tags").value = ""
        var availableTags = ["games", "test"]
        jQuery("#Tags").tagsManager({
            blinkBGColor_1: '#FFFF9C',
        blinkBGColor_2: '#CDE69C',
        });
        function createStep() {
            stepsCount = $('.image-link').length;
            //var newStepHtml = '<li class="ui-state-default image-link"><img src="@noImage" style="width: 220px; height: 220px" /><span class="index"></span>.  Кликните, чтобы редактировать</li>';
            var newStep = '<li class="ui-state-default image-link">' +
                 '<a onclick="deleteStep('+(stepsCount+1)+')" class="btn btn-default btn-mine" style="position:absolute">' +
                 '<span class="glyphicon glyphicon-remove"> </span> </a>' +
                '<img src="@noImage" style="width: 220px; height: 220px" />' +             
                '<input class="Image" name="Steps[' + stepsCount + '].Image" type="hidden" value="@noImage">' +
                '<input class="Description" name="Steps[' + stepsCount + '].Description" type="hidden" value="">' +
                '<input class="InstructionId" name="Steps[' + stepsCount + '].InstructionId" type="hidden" value="@Model.Id">' +
                '<input class="Title" name="Steps[' + stepsCount + '].Title" type="hidden" value="Новое действие">' +
                '<input class="NumberOfStep" name="Steps[' + stepsCount + '].NumberOfStep" type="hidden" value="'+(stepsCount+1)+'">' +
                '<span class="index"></span>.  Кликните, чтобы редактировать</li>';

            $(".image-link").each(function (index, item) {
            $(item).find(".index").html(index);
        });
            $(".buttonAddNewStep").before(newStep);
        refreshStepsDisplay();
    };

    $(function () {
        $(".image-link").each(function (index, item) {
            $(item).find(".index").html(index + 1);
        });

        $("#tags").autocomplete({ source: availableTags });
        $('.sortable').sortable({
            connectWith: "#sortable",
            stop: function (event, ui) {
                refreshStepsDisplay();
                $(".image-link").each(function (index, item) {
                    $(item).find(".index").html(index+1);
                });
                refreshStepsDisplay();
            },
            items: '> :not(.buttonAddNewStep)'
        });

        $(".sortable").disableSelection();
    });

    function deleteStep(removeItemIndex) {
        if (confirm('Are you sure you want to delete this step?')) {
            var itemToRemove;
            console.log("deleteStarted");
            $(".image-link").each(function (index, item) {
                console.log("in link");
                console.log($(item).find(".NumberOfStep").val());
                console.log($(item).find(".NumberOfStep"));
                if ($(item).find(".NumberOfStep").val() == removeItemIndex) {
                    itemToRemove = item;
                }
            });
            itemToRemove.remove();
            refreshStepsDisplay();
        }
    }

    function refreshStepsDisplay() {
        console.log("working refreshStepsDisplay()");
        $(".image-link").each(function (index, item) {
            $(item).find(".index").html(index + 1);
            $(item).find('.Title').attr('name', 'Steps[' + index + '].Title');
            $(item).find('.Description').attr('name', 'Steps[' + index + '].Description');
            $(item).find('.InstructionId').attr('name', 'Steps[' + index + '].InstructionId');
            $(item).find('.NumberOfStep').attr('name', 'Steps[' + index + '].NumberOfStep');
            $(item).find('.NumberOfStep').attr('value', (index+1));
            $(item).find('.Image').attr('name', 'Steps[' + index + '].Image');
        });
    }
</script>
    }