@model InstPublish.Models.Step
@{
    ViewBag.Title = "Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .inputs{
         margin-top:10px;     
        float:right;
    }
     .stepImage {
         margin-top:10px;     
      
        padding: 0;
        width: 100%;
        overflow: hidden;
        min-height: 260px;    
        
    }
      .showDropZone {     
        margin-top:10px;     
        padding: 0;
        width: 100%;
        overflow: hidden;
        min-height: 260px;
       
    }
</style>
<div id="insertPhoto" class="col-md-5 control-label">
    @if (Model.Image != null)
    {
        <div class="showDropZone">
            <div class="jumbotron" style="float:left; width: 400px; height: 400px">
                <form action="~/Home/SaveUploadedFile?instructionId=@Model.InstructionId&stepId=@Model.Id" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="background: none; border: none; width: 400px; height: 400px">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                        <input type="submit" id="sub" value="Upload" onclick="alert('UploadFile')" />
                    </div>
                </form>
                
</div>
        </div>
        <a class="btn btn-default">
            <span class="glyphicon glyphicon-upload" onclick="switchPhotoZone()"> </span>
        </a>
    }
</div>
<div class="col-md-7 control-label" style="float:left">
    @using (Html.BeginForm("ChangeStep", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true);
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.InstructionId)
        <div class="form-group" id="groupDescription" style="margin-top:10px">
            @Html.LabelFor(m => m.Title, "Введите заголовок:")
            <div id="groupDescription">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group" id="groupDescription" style="margin-top:10px">
            @Html.LabelFor(m => m.Description, "Введите описание:")
            <div id="groupDescription">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "12", cols = "30", style = "resize: none"})
            </div>

        </div>
            <button type="submit" class="btn btn-default btn-mine">
                <span class="fi-save">Сохранить</span>
            </button>
    }
</div>
        @Scripts.Render("~/scripts/jquery-1.10.2.js")

        @section scripts{
            <script>
                var a = false;
                function switchPhotoZone() {
                        document.getElementById("insertPhoto").innerHTML = '<div class="showPhoto">'+
                   '<div class="stepImage">' +
                        '<img src="@Model.Image" style="width: 400px; height: 400px" />'+
                        
                       '</div>'+
                   '</div>';
                    }
                

                $(function () {

                    //File Upload response from the server
                    Dropzone.options.dropzoneForm = {
                        maxFiles: 1,
                        accept: function(file, done) {
                            console.log("accept");
                            done();
                            switchPhotoZone();
                        },
                        success: function (file, response) {
                        },
                        init: function () {
                            this.on("maxfilesexceeded", function (data) {
                                var res = eval('(' + data.xhr.responseText + ')');
                            });

    
                        }
                    };
                });
            </script>
        }